.jumbotron {
    width: 310px;
}
.restaurant img {
    border: 1px solid gray;
    width: 200px;
    height: 150px;
}
.feedbacks {
    background-color: #FAF7F0;
}
.stars {
    color: gold;
    cursor: pointer;
}
