{% extends 'base.html' %}

{% block content %}
<div class="pt-5">
    <div class="d-flex justify-content-center">
        <h1 class="home__title p-2">Introverse A guide to Peace</h1>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2824.2088766236798!2d-93.24983204871498!3d44.939421576223474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87f628121aa93683%3A0x7cfd097d34a7aed6!2sMatt&#39;s%20Bar%20and%20Grill!5e0!3m2!1sen!2sid!4v1669587983308!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
{% endblock content %}
