{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="user-profile" class="p-3 pt-5" style="min-height: 100vh;">
    <h1 class="text-center">User Profile</h1>
    <div class="row p-5">
        <div class="col">
            <h5>User Info</h5>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>:</td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td>:</td>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td>{{ user.email }}</td>
                    </tr>
                </tbody>
            </table>
            <span class="badge bg-primary mt-3" type="button">Edit</span>
        </div>
    </div>
    <div class="row px-5">
        <div class="col">
            <h5>Favorites Restaurants</h5>

            {% for favorite in likes %}

            <p>{{ favorite }}</p>
                
            {% endfor %}
                
        </div>
        <div class="col">
            <h5>Reviews History</h5>
            
            <div>
                <p class="m-0">
                    <a class="text-dark text-decoration-none" href="#"><strong>Place</strong></a>
                    <span class="text-secondary">
                        <span class="stars">
                            <img src="/static/images/star-50.png" alt="star">
                        </span>
                        <span>
                            <span><i class="fa-regular fa-calendar"></i></span>
                            <span>11/11/2022</span>
                        </span>
                    </span>
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quasi magnam dolore quaerat quod natus laudantium dicta qui accusantium obcaecati. Dicta deserunt eaque quos odit?</p>
            </div>
            
            {% for review in reviews %}

            <p>{{ review }}</p>
                
            {% endfor %}
                
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock script %}