{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron mx-auto mt-5 rounded-4 p-3">
	<div class="login-icon">
		<img src="{% static 'images/menu.png' %}" alt="Menu Icon" />
	</div>
    <h1 class="text-center" style="font-variant: small-caps">Register</h1>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label style="font-size: 20px" class="font-italic">Full Name</label>
            <input type="text" name="name" class="form-control"  />
        </div>
        <div class="form-group">
            <label style="font-size: 20px" class="font-italic">Email</label>
            <input type="text" name="email" class="form-control" />
        </div>
        <div class="form-group">
            <label style="font-size: 20px" class="font-italic">Username</label>
            <input type="text" name="username" class="form-control" />
        </div>
        <div class="form-group">
            <label style="font-size: 20px" class="font-italic">Password</label>
            <input type="password" name="password" class="form-control" />
        </div>
        
        {% if error_message %}
        <p class="m-0 mt-2 text-center text-danger fw-bold">{{ error_message }}</p>
        {% endif %}
            
        <button id="register-btn" type="submit" class="btn btn-primary mt-3 w-100" disabled>Register</button>
    </form>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock script %}